<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting label="30100" type="lsep"/>
        <setting label="30101" type="select" id="provider" lvalues="30111|30112" />
        <setting label="30102" type="text" id="username" default=""/>
        <setting label="30103" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
        <setting label="30104" type="bool" id="reuse_last_device" default="true"/>
        <setting label="30105" type="bool" id="device_web_only" default="false"/>
        <setting type="sep"/>
        <setting label="30106" type="bool" id="pin_protected_content" default="true"/>
    </category>
    <category label="30200">
        <setting label="30201" type="lsep"/>
        <setting label="30205" type="bool" id="playlist_generate" default="true" />
        <setting label="30202" type="folder" id="playlist_folder" default="" enable="eq(-1,true)"/>
        <setting label="30203" type="text" id="playlist_file" default="playlist.m3u" enable="eq(-2,true)"/>
        <setting label="30204" type="bool" id="sl_logos" default="false" enable="eq(-3,true)"/>
    </category>
    <category label="30300">
        <setting label="30301" type="lsep"/>
        <setting label="30302" type="bool" id="epg_generate" default="true" />
        <setting label="30303" type="folder" id="epp_folder" default="" enable="eq(-1,true)"/>
        <setting label="30304" type="text" id="epg_file" default="epg.xml" enable="eq(-2,true)"/>
        <setting label="30305" type="slider" id="epg_days" default="2" range="1,1,7" option="int" enable="eq(-3,true)"/>
    </category>
    <category label="30350">
        <setting label="30350" type="lsep"/>
        <setting label="30351" type="bool" id="a_sl_logos" default="true"/>
        <setting label="30352" type="enum" id="a_logos_location" lvalues="30353|30354" visible="eq(-1,false)" enable="eq(-1,false)"/>
        <setting label="30355" type="folder" id="a_logos_folder" default="" visible="eq(-2,false)+eq(-1,0)" enable="eq(-2,false)+eq(-1,0)"/>
        <setting label="30356" type="text" id="a_logos_base_url" default="https://koperfieldcz.github.io/skylink-livetv-logos/" visible="eq(-3,false)+eq(-2,1)" enable="eq(-3,false)+eq(-2,1)"/>
        <setting label="30360" type="bool" id="a_show_live" default="false"/>
        <setting label="30361" type="slider" id="a_live_epg_next" default="7" range="2,1,14" option="int" visible="eq(-1,true)"/>
    </category>
    <category label="30390">
        <setting label="30390" type="lsep"/>
        <setting label="30391" type="action" action="RunScript(special://home/addons/plugin.video.sl/pisc.py)"/>
    </category>
    <category label="30370">
        <setting label="30370" type="lsep"/>
        <setting label="30371" type="action" action="RunScript(special://home/addons/plugin.video.sl/skins.py)"/>
    </category>
</settings>