<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting label="30101" type="select" id="provider" lvalues="30111|30112" />
        <setting label="30102" type="text" id="username" default=""/>
        <setting label="30103" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
        <setting label="30104" type="bool" id="reuse_last_device" default="true"/>
    </category>
    <category label="30200">
        <setting label="30201" type="lsep"/>
        <setting label="30202" type="folder" id="playlist_folder" default=""/>
        <setting label="30203" type="text" id="playlist_file" default="playlist.m3u"/>
    </category>
    <category label="30300">
        <setting label="30301" type="lsep"/>
        <setting label="30302" type="bool" id="epg_generate" default="true" />
        <setting label="30303" type="folder" id="epp_folder" default="" enable="eq(-1,true)"/>
        <setting label="30304" type="text" id="epg_file" default="epg.xml" enable="eq(-2,true)"/>
        <setting label="30305" type="slider" id="epg_days" default="2" range="1,1,7" option="int" enable="eq(-3,true)"/>
    </category>
</settings>